body {
    background-image: url("../images/back\ big");
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    margin: 0;
}

.inicio {
    background-image: url("../images/abstract\ background.jpg");
    background-size: auto;
    overflow: auto;
    margin-bottom: 0;
}

img {
    height: 60px;
    float: left;
}

#navegazao{
    float: right;
}

li {
    float: left;
    list-style: none;
}

ul li a  {
    text-decoration: none;
    color: wheat;
    margin: 0px 10px;
    background-color: rgb(138, 41, 228);
    padding: 5px;
    border-radius: 10px;
    
}

p {
    font-size: 15px;
}

.gabriel {
    background-image: url("../images/books.jpg");
    background-size: cover;
    text-align: center;
    padding: 90px;
    background-position: center 80%;
}

h1{
    color: white;
    font-size: 40px;
}

ul li a.sections {
    color: white;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}

ul {
    padding: 0;
}
